* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(46, 46, 46);
}

table {
  border: 1px solid;
  border-spacing: 0;
  margin: 20px;
  background-color: white;
}

th, td {
  padding: 15px;
  margin: 0px;
}

th {
  background-color: orange;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.new {
  margin-left: 20px;
}

form {
  width: 350px;
  border: 1px solid;
  padding: 15px;
  margin: 20px;
  display: none;
  background-color: white;
}

form label {
  float: left;
  padding-right: 5px;
}

form input {
  display: block;
}

table button {
  border: none;
  background: none;
}

.remove-book img {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

tr:hover img {
  display: block;
}

thead tr :last-child {
  width: 20px;
}

tr svg {
  width: 25px;
  height: 25px;
}

.read-status {
  fill: green;
}

.unread-status {
  fill: red;
}

td.read-cell {
  text-align: center;
}